<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="header">
        <h1 align="center">WORKOUT TRACER</h1>
        <div class="header-center">

        </div>
    </div>

    <div class="bg-img">
        <div class="container">
            <div class="topnav">
                <a routerLink="/workouts">View all</a>
                <a routerLink="/category">Category</a>
                <a routerLink="/create">Create</a>
                <a routerLink="/track">Track</a>
            </div>
            <router-outlet></router-outlet>
        </div>

    </div>
</body>

</html>
