body, html {
    height: 50%;
    margin: 0;
  }
  
  
  .header {
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq5UIxu6K3I_VEZe0teaqpoGmBVob1UT2AvS6xsZlWu9dLLhqVXw");
  }
  
  .header {
  float: center;
  color:greenyellow;
  text-align: center;
  padding: 12px;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 45px;
  text-decoration-style: inherit;
  }
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
  
  .bg-img {
  /* The image used */
  background-image: url("https://image.dhgate.com/0x0/f2/albu/g5/M01/D7/94/rBVaJFlcplyASTZZAAPI06u2_Q4342.jpg"); 
  
  min-height: 800px;
  width: 1250px;
  
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: absolute;
  }
  
  /* Position the navbar container inside the image */
  .container {
  position: absolute;
  margin: 50px;
  width: auto;
  }
  /* Navbar links */
  .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration:lavenderblush;
  font-size: 20px;
  }
  
  .topnav a:hover {
  background-color: #ddd;
  color: black;
  }
  .header:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
  }
  
 
  
