<div class="mx-auto" style="width: 400px;">
    <h1 class="pt-10 pb-10" style="text-align: center;">WORKOUT TRACER</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/workouts">View All </a>
            <a class="nav-item nav-link" routerLink="/create">Create</a>
            <a class="nav-item nav-link" routerLink="/category">Category</a>
            <a class="nav-item nav-link" routerLink="/track">Track</a>
          </div>
        </div>
      </nav>
    <div class="mx-auto" >
      <router-outlet></router-outlet>
    </div>
</div>