<form action="action_page.php">
  <div class="container">
   
    <hr>

    <label for="Title"><b>Title</b></label>
    <input type="text" placeholder="Enter Title" name="title" required>
    
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="comment" placeholder="Enter Comment" ></textarea>
     
    </div>

    <label for="End Date"><b>EndDate</b></label>
    <input type="end date" placeholder="Enter End Date" name="endDate" required>

    <label for="End Time"><b>Repeat Password</b></label>
    <input type="end time" placeholder="Repeat End Time" name="endTime" required>
    <hr>

   
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
</form>
